html {
    overflow-x: hidden;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
    background-color: rgb(239, 234, 227);
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

nav{
    height: 4rem;
    /* background-color: aqua; */
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;

}

.fa-dice{
    size: 50rem;
}

#card-container {
    /*display: flex;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.summary-card{
    width: 11rem;
    margin: 1%;
    padding: 0%;
    background-color: gainsboro;
    border: 2px solid;
    border-color: black;
    border-radius: 7px;
    text-align: center;
}

.summary-card img{
    max-width: 35vw;
    max-height: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

/*DETAILS RENDER*/

#hero img{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    max-height: 500px;
    max-width: 90%;
    object-fit: contain;
}

#board_setup h2,
#player_setup h2,
#player_turns h2,
#win_condition h2{
    padding: 0 1rem;
    text-transform: uppercase;
    color: #0d0a6b;
    background-color: rgb(160, 206, 206);
    border: solid 1px;
    border-radius: 5px;
}

.board-setup-details,
.player-setup-details,
.player-turns-details,
.win-condition-details{
    display: none;
}

#details-container h2{
    cursor: pointer;
}

#win_condition p {
    padding: 0px 22px;
}

/* MEDIA QUERIES */

@media (min-width: 450px) {
    body {
        background-color: lightblue;
    }

    #card-container {
        display: flex;
        flex-wrap: wrap;
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px */
    }


}